.group
  =f.label :street
  =f.error_message_on :street
  =f.text_field :street, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:libraries, :index)}';return false", :class => :button
