.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:libraries, :index)
      %li.active=link_to pat(:new), url(:libraries, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:library)
    .inner
      -form_for :library, url(:libraries, :create), :class => :form do |f|
        =partial "libraries/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
