%h2="Library at #{@library.street}"

%table{:class => 'table'}
  %thead
    %th Title
    %th Author
    %th Added
    %tbody
    -@books.each do |book|
      -if book.created_at > (Date.today - 7.days)
        %tr{:class => "info"}
          %td=book.title
          %td=book.author
          %td=book.created_at.strftime("%B %d, %Y")
      -else
        %tr
          %td=book.title
          %td=book.author
          %td=book.created_at.strftime("%B %d, %Y")
