%h2 Inventory Sheet

%table{:class => 'table'}
  %thead
    %th In 
    %th Title
    %th Added
    %tbody
    -@books.each do |book|
      %tr
        %td &#9634;
        %td=book.title
        %td=book.created_at.strftime("%B %d, %Y")
