%h2="Library at #{@library.street}"


%table{:class => 'table'}
  %thead
    %th Title
    %th Author
    %th Added
    %tbody
    -@books.each do |book|
      %tr
        %td
          "#{book.title}"
          - if book.created_at > (Date.today - 7.days)
            %i{:class => 'icon-plus-sign', :title => 'New this week'}
          - if book.donated == true
            %i{:class => 'icon-gift', :title => "Donated" }
        %td=book.author
        %td=book.created_at.strftime("%B %d, %Y")
