%h1 About This Site

%p 
  This site is meant to provide a place for people who have established Little Free Libraries in Lents to
  list their library inventories. Currently only one library is listed. If you'd like to add yours, 
  please <a href="mailto:mph@puddingbowl.org">drop me a mail</a> and I'll help you get set up. Here are 
  some features I've got planned:

  %ul
    %li A mobile inventory tool, so it's easy to update your library from a smart phone
    %li RSS feeds for each library, so people can tell what's in your library with tools 
    like Google Reader
    %li Book tracking
    %li Check-in/out events (so each book can have a complete history)


