%h1 Plans for a Little Free Library

.p
  These plans require a number of tools: Make sure to read all the way through so you have everything on hand before
you get started. You can <a href="/little_free_library_plans.pdf">download the plans</a> as a PDF or review them here: 

%div{:style => 'text-align:center;margin-top:2em;'}
  <iframe src="https://docs.google.com/file/d/0B1wR6swdi_DfZFEzRnViMkJvbnc/preview" width="960" height="640"></iframe>

